In [4]:
import pandas as pd
import numpy as np

# IPython configuration for enhanced interactivity
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Set a seed for reproducibility
np.random.seed(42)

# Create a DataFrame with 5 rows and 5 columns of random integers from 1 to 20
df = pd.DataFrame(np.random.randint(1, 21, size=(5, 5)),
                  columns=['A', 'B', 'C', 'D', 'E'])
df

    A   B   C   D   E
0   7  20  15  11   8
1   7  19  11  11   4
2   8   3   2  12   6
3   2   1  12  12  17
4  10  16  15  15  19

`apply()` is used to apply a function along the axis of the DataFrame (rows or columns).
- Ideal for column or row operation

In [9]:
# function by column
df.apply(np.sum, axis=0) # axis = 0 is the default

# function by row
df.apply(np.sum, axis=1) # axis = 0 is the default

A    34
B    59
C    55
D    61
E    54
dtype: int64

0    61
1    52
2    31
3    44
4    75
dtype: int64

The map() function is used with Series to substitute each value in a Series with another value. 
- Ideal for element operation

In [28]:
# error, works only on series
# df.map(lambda x: x + 1000)

df['A'].map(lambda x: x + 1000)
# df[0].map(lambda x: x + 1000) # error

0    1007
1    1007
2    1008
3    1002
4    1010
Name: A, dtype: int64

`applymap()`
The applymap() function is used to apply a function to each element of the DataFrame.

In [14]:
df.applymap(lambda x: x + 1000)

      A     B     C     D     E
0  1007  1020  1015  1011  1008
1  1007  1019  1011  1011  1004
2  1008  1003  1002  1012  1006
3  1002  1001  1012  1012  1017
4  1010  1016  1015  1015  1019

In [26]:
# df.apply(lambda row: row, axis = 0)
# df.apply(lambda row: row, axis = 1)

df.apply(lambda row: row['A'] + row['B'], axis = 1)

0    27
1    26
2    11
3     3
4    26
dtype: int64